.button {
  position: relative;
  @each $colorName, $colorValue in $colors {
    &.#{$colorName} {
      background-color: $colorValue;
      color: calcColorForBg($colorValue);
      border: 1px solid darken($colorValue, 6%);
      border-radius: $borderRadius;
      &:hover:not(:disabled) {
        background-color: darken($colorValue, 5%);
      }
      &:active {
        background-color: darken($colorValue, 8%);
      }
      &:disabled {
        border: none;
        cursor: not-allowed;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255,255,255,0.5);
        }
      }
    }
  }
}
