@function brightness($color) {
  $sum: red($color) + green($color) + blue($color);
  @return percentage($sum / (255*3));
}

.button + .button {
  margin-left: $air;
}

.button {
  font-family: inherit;
  font-size: 0.9em;
  height: $inputHeight;
  padding-left: $air * 2;
  padding-right: $air * 2;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}
