@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  font-family: "Roboto Condensed", sans-serif;
}
@each $tag, $multiplier in $headingFactors {
  #{$tag} {
    font-size: $multiplier * $fontSize;
  }
}
