<template>
  <div class="p-y-1">
    <ResponsiveRow :sizes="[600, 900, 1200]" gutter="1x" class="text-center" :timeout-mode="true">
      <div v-for="(buttonData, $index) in buttonColors"
        class="rr-col-12 rr-col-s6 rr-col-m4 rr-col-l3"
        :key="$index">
        <button :class="['button', buttonData.color]">
          <i class="fa fa-fw" :class="buttonData.icon"></i>
          <span>{{buttonData.color}}</span>
        </button>
        <button :class="['button', buttonData.color]" disabled>
          <i class="fa fa-fw" :class="buttonData.icon"></i>
          <span>{{buttonData.color}} disabled</span>
        </button>
      </div>
    </ResponsiveRow>
  </div>
</template>

<script>
  import ResponsiveRow from '@/components/ui/ResponsiveRow'

  export default {
    components: { ResponsiveRow },
    data () {
      return {
        buttonColors: [
          {color: 'aqua', icon: 'fa-address-book'},
          {color: 'blue', icon: 'fa-address-book-o'},
          {color: 'navy', icon: 'fa-address-card'},
          {color: 'teal', icon: 'fa-address-card-o'},
          {color: 'green', icon: 'fa-bandcamp'},
          {color: 'olive', icon: 'fa-bath'},
          {color: 'lime', icon: 'fa-bathtub'},
          {color: 'yellow', icon: 'fa-drivers-license'},
          {color: 'orange', icon: 'fa-drivers-license-o'},
          {color: 'red', icon: 'fa-eercast'},
          {color: 'fuchsia', icon: 'fa-envelope-open'},
          {color: 'purple', icon: 'fa-envelope-open-o'},
          {color: 'maroon', icon: 'fa-etsy'},
          {color: 'white', icon: 'fa-free-code-camp'},
          {color: 'silver', icon: 'fa-grav'},
          {color: 'gray', icon: 'fa-handshake-o'},
          {color: 'black', icon: 'fa-id-badge'}
        ]
      }
    }
  }
</script>
