// parents
.flx-full {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.flx-h {
  display: flex;
  flex-direction: row;
}
.flx-v {
  display: flex;
  flex-direction: column;
}
.flx-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// childs
@for $i from 1 through 3 {
  .flx-#{$i} {
    position: relative;
    flex: $i;
  }
}
