@for $i from 1 through $spacersIterations {

  $value: ($spacersFactor * $i) * 1px;

  .p-#{$i} { padding: $value; }
  .p-x-#{$i} { padding-left: $value; padding-right: $value; }
  .p-y-#{$i} { padding-top: $value; padding-bottom: $value; }
  .p-t-#{$i} { padding-top: $value; }
  .p-r-#{$i} { padding-right: $value; }
  .p-b-#{$i} { padding-bottom: $value; }
  .p-l-#{$i} { padding-left: $value; }

  .m-#{$i} { margin: $value; }
  .m-x-#{$i} { margin-left: $value; margin-right: $value; }
  .m-y-#{$i} { margin-top: $value; margin-bottom: $value; }
  .m-t-#{$i} { margin-top: $value; }
  .m-r-#{$i} { margin-right: $value; }
  .m-b-#{$i} { margin-bottom: $value; }
  .m-l-#{$i} { margin-left: $value; }

}
