<template>
  <div class="flx-v flx-full">
    <MemberList class="flx-1" />
    <NavigationBar :fluid="true" class="p-1" />
    <div class="p-1 flx-h text-center">
      <div class="flx-1">index: {{activeIndex}}</div>
      <div class="flx-1">total: {{membersCount}}</div>
      <i class="fa fa-refresh fa-fw"
        @click="fetchMembers"
        :class="{'fa-spin': loading}"></i>
    </div>
  </div>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'
  import MemberList from '@/components/member/List'
  import NavigationBar from '@/components/common/NavigationBar'

  export default {
    components: { MemberList, NavigationBar },
    methods: mapActions(['fetchMembers']),
    computed: {
      ...mapGetters(['membersCount']),
      ...mapState(['activeIndex', 'loading'])
    }
  }
</script>
