<template>
  <div class="flx-full">
    <div v-if="activeMember" class="p-x-1">
      <NavigationBar class="p-1" />
      <MemberItem :data="activeMember" />
      <ButtonColors class="m-t-3" />
    </div>
    <div v-else class="flx-full flx-c">
      <Message text="Selecciona algún miembro del menú" />
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import NavigationBar from './common/NavigationBar'
  import MemberItem from './member/Item'
  import Message from '@/components/common/Message'
  import ButtonColors from '@/components/common/demo/ButtonColors'

  export default {
    components: {
      NavigationBar,
      MemberItem,
      ButtonColors,
      Message
    },
    computed: mapGetters(['activeMember'])
  }
</script>
