<template>
  <img :src="imageUrl" 
    :title="title || email"
    :style="{'width': `${size}px`, 'height': `${size}px`}">
</template>

<script>
  export default {
    props: {
      title: String,
      email: {
        type: String,
        required: true
      },
      size: {
        type: Number,
        default: 256
      }
    },
    computed: {
      imageUrl () {
        return `https://api.adorable.io/avatars/${this.size}/${this.email}.png`
      }
    }
  }
</script>

<style scoped>
  img {
    max-width: 100%;
  }
</style>
