<template>
  <transition name="fade">
    <div v-if="active" class="loading-mask flx-full flx-c">
      <div class="loading-mask-container">
        <slot></slot>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    props: {
      active: {
        type: Boolean,
        default: false
      }
    }
  }
</script>

<style lang="scss">
  .loading-mask {
    z-index: 1;
    background-color: rgba(0,0,0,0.3);
    user-select: none;
  }
  .loading-mask-container {
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    .loading-mask-container {
      transition: all .5s;
    }
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
    .loading-mask-container {
      transform: scale(1.2);
    }
  }
</style>
