<template>
  <nav class="nav-container">
    <button class="button white"
      @click="selectPrev"
      :class="{'fluid': fluid}"
      :disabled="activeIndex == null">
      <i class="fa fa-chevron-left"></i>
      prev
    </button>
    <button class="button white"
      @click="selectNext"
      :class="{'fluid': fluid}"
      :disabled="activeIndex == null">
      next
      <i class="fa fa-chevron-right"></i>
    </button>
  </nav>
</template>

<script>
  import { mapState, mapActions } from 'vuex'

  export default {
    props: {
      fluid: {
        type: Boolean,
        default: false
      }
    },
    computed: mapState(['activeIndex']),
    methods: mapActions(['selectNext', 'selectPrev'])
  }
</script>

<style>
  .nav-container {
    display: flex;
    justify-content: center;
  }
</style>