<template>
  <div class="p-x-1">
    <div class="text-center">
      <AdorableImage :email="data.email" />
      <h3 class="m-t-1">{{data.name}}</h3>
      <p class="text-muted">{{data.email}}</p>
    </div>
    <div class="m-t-2">
      <User v-for="user in data.users" :key="user.id" :data="user" class="m-b-1" />
    </div>
  </div>
</template>

<script>
  import AdorableImage from '@/components/common/AdorableImage'
  import User from '@/components/member/ItemUser'

  export default {
    components: {
      AdorableImage,
      User
    },
    props: {
      data: {
        type: Object,
        required: true
      }
    }
  }
</script>
