<template>
  <div class="card flx-h">
    <AdorableImage :email="data.email" :size="50" />
    <div class="flx-1 p-l-1">
      <h4>{{data.name}}</h4>
      <p class="text-muted">{{data.email}}</p>
    </div>
  </div>
</template>

<script>
  import AdorableImage from '@/components/common/AdorableImage'

  export default {
    components: {
      AdorableImage
    },
    props: {
      data: {
        type: Object,
        required: true
      }
    }
  }
</script>
