<template>
  <div class="list-item p-1">
    <TypeIcon :is-group="data.users != null"></TypeIcon>
    <span>{{data.name}}</span>
  </div>
</template>

<script>
  import TypeIcon from '@/components/member/TypeIcon'

  export default {
    components: {
      TypeIcon
    },
    props: {
      data: {
        type: Object,
        required: true
      }
    }
  }
</script>

<style lang="scss">
  @import "../../scss/_variables.scss";

  .list-item {
    border-radius: $borderRadius;
    text-transform: uppercase;
    transition: backgroundColor .2s ease;
    cursor: pointer;
    &:hover {
      background-color: lighten(map_get($colors, "gray"), 10%);
    }
    &.active {
      background-color: map_get($colors, "red");
    }
  }
</style>
