<template>
  <div class="flx-v">
    <LoadingMask :active="loading">
      <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
      cargando...
    </LoadingMask>
    <ul class="flx-1 scroll p-1">
      <li v-for="(member, $index) in members"
        @click="select($index)"
        :key="member.id">
        <ListItem :class="{'active': $index == activeIndex}"
          :data="member" />
      </li>
    </ul>
  </div>
</template>

<script>
  import LoadingMask from '@/components/common/LoadingMask'
  import ListItem from '@/components/member/ListItem'
  import { mapState, mapActions } from 'vuex'

  export default {
    components: {
      ListItem,
      LoadingMask
    },
    computed: mapState(['loading', 'members', 'activeIndex']),
    methods: mapActions(['select'])
  }
</script>
