<template>
  <i class="status fa fa-circle" :class="[className]"></i>
</template>

<script>
  export default {
    props: {
      isGroup: {
        type: Boolean,
        required: true
      }
    },
    computed: {
      className () {
        return this.isGroup ? 'single' : 'group'
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../scss/variables.scss";
  .status {
    &.single {
      color: map_get($colors, "yellow");
    }
    &.group {
      color: map_get($colors, "green");
    }
  }
</style>