<template>
  <div class="flx-full flx-h">
    <aside class="flx-1 app-aside">
      <MainList />
    </aside>
    <MainSection class="flx-3 scroll" />
  </div>
</template>

<script>
  import { mapActions } from 'vuex'
  import MainList from './components/MainList.vue'
  import MainSection from './components/MainSection.vue'

  export default {
    name: 'app',
    components: { MainList, MainSection },
    methods: mapActions(['fetchMembers']),
    created () {
      this.fetchMembers()
    }
  }
</script>

<style lang="scss">
  @import "./scss/_variables.scss";

  .app-aside {
    background-color: map_get($colors, "gray");
    color: map_get($colors, "white");
    min-width: 220px;
    max-width: 100%;
  }
</style>
