@function clearUnits($value){
  @if type-of($value) == "number" {
    @if (unitless($value)) {
      @return $value;
    } @else if unit($value) == "em"{
      @return $value / 1em;
    } @else if unit($value) == "px" {
      @return $value / 1px;
    } @else if unit($value) == "pt" {
      @return $value / 1pt;
    }
  } @else {
    @warn "Not a number value: #{$value}";
    @return $value;
  }
}

@function brightness($color) {
  $sum: red($color) + green($color) + blue($color);
  @return percentage($sum / (255*3));
}

@function calcColorForBg ($color) {
  $textColor: map_get($colors, "black");
  @if (brightness($color) < 75) {
    $textColor: map_get($colors, "white");
  }
  @return $textColor;
}
