$fontSize: 16px;
$headingFactors: ("h1": 2.1, "h2": 1.9, "h3": 1.7, "h4": 1.4, "h5": 1.2);
$inputHeight: 30px;
$borderRadius: 4px;

$air: 10px;

$spacersFactor: clearUnits($air);
$spacersIterations: 3;

$colors: (
  "aqua": #7FDBFF,
  "blue": #0074D9,
  "navy": #001F3F,
  "teal": #39CCCC,
  "green": rgb(183,214,170),
  "olive": #3D9970,
  "lime": #01FF70,
  "yellow": rgb(254,228,157),
  "orange": #FF851B,
  "red": rgb(205,44,45),
  "fuchsia": #F012BE,
  "purple": #B10DC9,
  "maroon": #85144B,
  "white": #FFFFFF,
  "silver": #DDDDDD,
  "gray": rgb(48,50,52),
  "black": #111111,

);
