<template>
  <div :class="[classes, done ? 'element-media-done' : '']">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    props: {
      sizes: {
        type: Object,
        required: true
      },
      accum: {
        type: Boolean,
        default: false
      },
      onChange: Function,
      timeoutMode: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        classes: '',
        done: false
      }
    },
    mounted () {
      this.width = this.$el.offsetWidth
      this.apply()
      // @TODO: Use Rx or Vue observables
      // @TODO: Global EE for window.resize event listeners
      if (!this.timeoutMode) {
        window.addEventListener('resize', this.check)
      } else {
        this.checkInterval = setInterval(this.check, 200)
      }
    },
    methods: {
      check () {
        let curWidth = this.$el.offsetWidth
        if (curWidth !== this.width) {
          this.width = curWidth
          if (this.applyTimeout) clearTimeout(this.applyTimeout)
          this.applyTimeout = setTimeout(this.apply, 200)
        }
      },
      apply () {
        let classes = []
        const prevClasses = this.classes
        const classNames = Object.keys(this.sizes)
        for (let i = 0, n = classNames.length; i < n; i++) {
          if (this.width >= Number(this.sizes[classNames[i]])) {
            classes.push(classNames[i])
          }
        }
        this.classes = this.accum === true ? classes.join(' ') : classes[classes.length - 1]
        this.done = true
        if (prevClasses !== this.classes && this.onChange != null) {
          this.onChange(this.width)
        }
      }
    },
    destroyed () {
      if (!this.timeoutMode) {
        window.removeEventListener('resize', this.check)
      } else {
        clearInterval(this.checkInterval)
      }
      if (this.applyTimeout) {
        clearTimeout(this.applyTimeout)
      }
    }
  }
</script>
