<template>
  <ElementMedia :class="['rr-row', gutterClass]" :sizes="sizesObj" :accum="true" :timeout-mode="timeoutMode">
    <slot></slot>
  </ElementMedia>
</template>

<script>
  import ElementMedia from './ElementMedia'

  const ROW_SIZES = ['s', 'm', 'l', 'xl']

  export default {
    props: {
      sizes: {
        type: Object | Array,
        required: true
      },
      gutter: {
        type: String,
        default: ''
      },
      timeoutMode: {
        // @TODO: How to pass tranpsarently extra props to ElementMedia component??
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        gutterClass: '',
        sizesObj: {}
      }
    },
    components: {
      ElementMedia
    },
    created () {
      this.gutterClass = 'rr-gutter-' + (this.gutter || '')
      this.sizes.forEach((width, index) => {
        this.sizesObj['rr-row-' + ROW_SIZES[index]] = width
      })
    }
  }
</script>

<style lang="scss">
  $colsAir: 10px;
  $numCols: 12;
  $sizes: ('s','m','l','xl');


  .rr-row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    transition: opacity 200ms ease;
    &.rr-gutter-h, &.rr-gutter, &.rr-gutter-1x {
      margin-left: -$colsAir / 2;
      margin-right: -$colsAir / 2;
      & > * {
        padding-left: $colsAir / 2;
        padding-right: $colsAir / 2;
      }
    }
    &.rr-gutter-v, &.rr-gutter, &.rr-gutter-1x {
      & > * {
        padding-bottom: $colsAir;
      }
    }
    &.rr-gutter-2x {
      margin-left: -$colsAir;
      margin-right: -$colsAir;
      & > * {
        padding: $colsAir;
      }
    }
    &.rr-gutter-3x {
      margin-left: -$colsAir * 1.5;
      margin-right: -$colsAir * 1.5;
      & > * {
        padding: $colsAir * 1.5;
      }
    }
    &.rr-gutter-4x {
      margin-left: -$colsAir * 2;
      margin-right: -$colsAir * 2;
      & > * {
        padding: $colsAir * 2;
      }
    }
  }

  @mixin createCols ($sizePrefix: '') {
    @for $i from 1 to $numCols + 1 {
      & > .rr-col-#{$sizePrefix}#{$i} {
        flex: 0 0 (100% / $numCols * $i);
      }
    }
    & > .rr-col-#{$sizePrefix} {
      flex: 1;
    }
  }

  .rr-row {
    @include createCols();
    & > .rr-col {
      flex: 1;
    }
  }

  @each $size in $sizes {
    .rr-row-#{$size} {
      @include createCols($size);
    }
  }

</style>
